<h1>User</h1>


  <h2>{{model.user_id}}</h2>
  <p class="first_name"> First: {{model.first_name}}</p>
  <p class="last_name"> Second: {{model.last_name}}</p>
  <p class="gender"> Gender: {{model.gender}}</p>
  <p class="location"> Location: {{model.from}}</p>

{{#link-to "users"}}Users List{{/link-to}}
